# macOS
.DS_Store

# Xcode user-specific files
xcuserdata/
*.xcuserstate

# Build artifacts
DerivedData/
.derivedData/
build/

# Swift Package Manager
.build/
Package.resolved

# Fastlane / misc tooling
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

melange-examples/